<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhom 22 Cloud Foundry</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link href="{% static 'styles/home.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <header style="height:180px;">
        <div class="container_top">
            <div class="logo">
                <a href="{% url 'Home:homepage'%}"><img src="{% static 'images/logo_nhom22.png' %}" alt="logo" style="width:200px;height:200px;">
                </a>
            </div>
            <p style="text-align: center; padding-top: 20px; padding-right: 300px; font-size: 20px; font-style: italic; font-weight: bold; color:green;">Welcome you to my Shop! {{user.username}}</p>
            <div class="topCenter">
                <div class="boxSearch">
                    <table class="elements">
                        <tr>
                            <td>
                                <form action="{% url 'Home:search' %}" class="search" method="GET">
                                    <input type="text" placeholder="Search..." class="search" name="q" value="{{ q }}">
                                </form>
                            </td>
                            <td>
                                <a href="# ">
                                    <i class="fa-solid fa-magnifying-glass "></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <nav>
                    <div class="menu_top ">
                        <ul>
                            <li><a href="{% url 'Home:homepage'%} ">Trang chủ</a></li>
                            <li><a href="{% url 'Home:intro'%} ">Giới thiệu</a></li>
                            <li><a href="{% url 'Home:store'%} ">Cửa hàng</a></li>
                            <li><a href="{% url 'Home:contact'%}">Liên hệ</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="boxLog ">
                <div class="login log ">
                    <button class="button "><i class="fa-regular fa-user "></i>
                        {% if user.username == '' %}
                            <a href="/login/ ">Đăng nhập</a>
                        {% else %} 
                            <a href="">{{user.username}}</a>
                        {% endif %}
                    </button>
                </div>
                <div class="register log">
                    <button style="text-align: center;">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <a href="{% url 'Home:logout'%}">Đăng xuất</a>
                    </button>
                </div>
                
            </div>

            {% comment %} <div class="GioHang ">
                <button><i class=" fa-solid fa-basket-shopping fa-3x "></i>Giỏ hàng
                    
                </button>
            </div> {% endcomment %}
        </div>
    </header>

    <div class="banner ">
        <div class=" effect ">
            <ol>
                <li>
                    <h2> SẢN PHẨM CỦA NHÀ ĐẦU TƯ </h2>
                </li>
                <li>
                    <h2> NHẸ NHÀNG, ÊM ÁI </h2>
                </li>
                <li>
                    <h2> MỜI BẠN MUA NHA </h2>
                </li>
            </ol>
        </div>
    </div>

    <div class="container_center ">
        <div class="menu_container ">
            <div class="menu_bar ">
                <div class="bar_item ">
                    <a href="/store/rau-cu/" style="text-decoration: none;">
                        <img src="{% static 'images/gaunhoibong.png' %} " alt=" " width="80 " height="100 ">
                        <p>Gấu nhồi bông</p>
                    </a>
                </div>

                <div class="bar_item ">
                    <a href="/store/hai-san/" style="text-decoration: none;">
                        <img  src="{% static 'images/meonhoibong.png' %} " alt=" " width="140 " height="100 ">
                        <p>Mèo nhồi bông</p>
                    </a>
                </div>

                <div class="bar_item ">
                    <a href="/store/do-uong/"  style="text-decoration: none;">
                        <img src="{% static 'images/chimnhoibong.png' %} " alt=" " width="100 " height="100 ">
                        <p>Chim nhồi bông</p>
                    </a>
                </div>

                <div class="bar_item ">
                    <a href="/store/do-kho/"  style="text-decoration: none;">
                        <img src="{% static 'images/thonhoibong.png' %} " alt=" " width="100 " height="100 ">
                        <p>Thỏ nhồi bông</p>
                    </a>
                </div>

                <div class="bar_item ">
                    <a href="/store/thit-trung/"  style="text-decoration: none;">
                        <img src="{% static 'images/casaunhoibong.png' %} " alt=" " width="100 " height="100 ">
                        <p>Cá sấu nhồi bông</p>
                    </a>
                </div>

                <div class="bar_item ">
                    <a href="/store/trai-cay/"  style="text-decoration: none;">
                        <img src="{% static 'images/saunhoibong.png' %} " alt=" " width="100 " height="100 ">
                        <p>Sâu nhồi bông</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="discount ">
            <div class="discount_menu ">
                <a href="/store/giam-gia1/" class="discount_item item1 "></a>
                <a href="/store/giam-gia2/" class="discount_item item2 "></a>
            </div>
        </div>

        <div class="hotsale_container ">
            <div class="menu_hotsale ">
                <button class="switch "></button>
                <button class="switch "></button>

                <div class="content ">
                    <span>SẢN PHẨM BÁN CHẠY</span>
                </div>
        
                <div class="hotsale_slide ">
                    <div class="hot_item ">
                        <img src="{% static 'images/en.jpg' %} " alt=" ">
                        <p>Én nhồi bông</p>
                        <p class="cost ">65.000</p>
                    </div>

                    <div class="hot_item ">
                        <img src="{% static 'images/tho7mau.png' %} " alt=" ">
                        <p>Thỏ nhồi bông</p>
                        <p class="cost ">75.000</p>
                    </div>

                    <div class="hot_item ">
                        <img src="{% static 'images/doraemon.jpg' %} " alt=" ">
                        <p>Mèo doraemon nhồi bông</p>
                        <p class="cost ">84.000</p>
                    </div>

                    <div class="hot_item ">
                        <img src="{% static 'images/bear.jpg' %} " alt=" ">
                        <p>Teddy Bear</p>
                        <p class="cost ">75.000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="support-text " style="height:440px;background-color:rgba(100, 100, 100, 0.3);">
        <div style="font-size: 40px;text-align: center;height:50px;background-color: #fff;color:#0000FF;padding-top:10px">
            CONTACT
        </div>
        <div class="footer-distributed" style="padding-left:30px;font-size: 28px;">
            <div class="footer-left">
                <img src="{% static 'images/logo_nhom22.png' %}" alt="logo" style="width:130px;height:130px;">
            </div>
            <div class="footer-center">
                <div>
                    <p>
                        <i class="fa fa-map-marker"></i>
                        <span>01 Võ Văn Ngân, Phường Linh Chiểu, Thành phố Thủ Đức, Thành phố Hồ Chí Minh
                    </p>
                    <br>
                </div>
                <div>
                    <p>
                        <i class="fa fa-phone"></i>
                        0865330769
                    </p>
                </div>
                <br>
                <div>
                    <p>
                        <i class="fa fa-envelope"></i>
                        <a href="20110701@student.hcmute.edu.vn" style="text-decoration:none;">20110701@student.hcmute.edu.vn</a>
                    </p>
                </div>
            </div>
            <br>
            <div class="footer-right">
                <p class="footer-company-about">
                    <span>Về nhóm 22, Xin mời liên hệ các kênh:</span>
                </p>
                <div class="footer-icons" style="padding-top:20px;padding-left: 480px;">
                    <a href="https://www.facebook.com/profile.php?id=100087164146540" style="padding-right:15px;"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://github.com/arapsing"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <h5>Copyright © 2022 Thú Nhồi Bông Nhóm 22. Powered by pkt.</h5>
    </footer>
</body>

</html>
