{% extends 'base.html' %} {% block content%} {% load static %}
<div class="container_center">
    <div id="left">
        <div class="menu_left">
            <h3><i class="fa-solid fa-bars"></i>Danh mục</h3>
            <ul>
                {%for c in categories %}
                <li><a href="{{c.get_absolute_url}}"><i class="fa-solid fa-seedling"></i>{{c.title}}</a></li>
                {%endfor%}
            </ul>
        </div>
    </div>
    <div id="right">
        <h1 style="width:971px; letter-spacing: 2px;">Tìm thấy&nbsp<b>{{ product_count }}&nbsp</b> sản phẩm </h1>
        <div class="products-fill">
            <ul>
                {% for product in product_list %}
                <li>
                    <div class="products">
                        <div class="picture">
                            <img src="/home/media/{{product.images}}" alt="">
                        </div>
                        <div class="info-pro">
                            <div class="info">
                                <h3> {{product.title}}</h3>
                                <p> Price: {{product.price}} {% csrf_token %}</p>
                            </div>
                            <button class="bt_add">Add</button>
                            <a href="{{product.get_url}}">Xem</a>
                        </div>
                    </div>
                </li>
                {% endfor%}
            </ul>
        </div>
    </div>
</div>
{%endblock%}