<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lên đơn thành công</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <link href="{% static 'styles/cart.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <div class="container_top">
            <div class="logo">
                <a href="{% url 'Home:homepage'%}"><img src="{% static 'images/logo_nhom22.png' %}" alt="logo"></img>
                </a>
            </div>
            <div class="topCenter">
                <div class="boxSearch">
                    <table class="elements">
                        <tr>
                            <td>
                                <input type="text" placeholder="Search..." class="search">
                            </td>
                            <td>
                                <a href="#">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <nav>
                    <div class="menu_top">
                        <ul>
                            <li><a href="{% url 'Home:homepage'%}">Trang chủ</a></li>
                            <li><a href="">Giới thiệu</a></li>
                            <li><a href="{% url 'Home:store'%}">Cửa hàng</a></li>
                            <li><a href="{% url 'Home:contact'%}">Liên hệ</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="boxLog">
                <div class="login log">
                    <button class="button" style="text-align: center;width: 150px;"><i class="fa-regular fa-user"></i>{{user.username}}</button>
                </div>
                <div class="register log">
                    <button style="text-align: center; width: 150px;">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <a href="{% url 'Home:logout'%}" style="text-decoration: none;">Đăng xuất</a>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row" style="height:480px;background-color:#fff;font-size:28px;padding-bottom:30px;">
            <div class="col-md-8 col-md-offset-2" style="padding-top:20px;padding-left:402px;">
                <h2 class="page-header">Cảm ơn bạn vì đã ủng hộ shop chúng tôi</h2>
                <br>
                <p>Bạn đã đặt hàng thành công!</p>
                <p>Vui lòng nhớ mã đơn của bạn dưới đây để tiện nhận hàng.</p>
                <p>Mã đơn của bạn là:  <strong>{{ order.id }}</strong>.</p>
                <br>
                <p>Chúc bạn có một ngày mua sắm tốt lành</p>
                <p>Ấn vào "Cửa hàng" để tiếp tục xem thông tin những sản phẩm mới nhất nhé!</p>
            </div>
        </div>
    </div>

    <footer>
        <h5>Copyright © 2022 Thú Nhồi Bông Nhóm 22. Powered by pkt.</h5>
    </footer>
</body>

</html>